.navbar-container{
    display: flex;
    height: 80px;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    padding:5px;
    margin: 0;
}
.nav-left{
    padding: 5px;
}
.logo{
    width: 13vh;
    border-radius: 10px;
}
.navs{
    justify-content: flex-end;
    align-items: flex-end;    
}
.nav-right{
   display: flex;
}
.me-auto{
    display: flex;
}
.nav-text{
    
    color: white;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    
}