.foreacast-data-container{
    display: flex;
    flex-direction: column;
    margin: 70px;
    padding: 40px;
    align-items: center;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.data-img{
    margin: 40px;
   
}
.hum{
    padding: 10px;
}

.mos{
    padding: 10px;
    width: 80vh;
}

.tem{
    padding: 10px;
}