.home-container{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    font-family: "Limelight";
    margin: 0;
    flex-wrap: wrap;
}
.home-left{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.home-header{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}
.typewriter-container{
    font-size: 64px;
    letter-spacing: 4px;
}
.home-right{
    display: flex;
    padding-top:20px;
    align-items: center;
}

.sub-header{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    flex-wrap: wrap;
    margin: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
    padding: 40px;
   
}
.smart-img{
    width: 80vh;
    border-radius: 20px;
    margin: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} 